* {
    margin: 0;
    padding: 0;
}
.sect1 {
    background: url(../img/section1.jpg);
    background-size: cover;
    height: 800px;
}
.sect2 {
    background: url(../img/section2.jpg);
    background-size: cover;
    height: 800px;
}
nav ul {
    margin: 0;
    list-style: none;
    position: fixed;
    right: 0;
    background: #2980b9;
}
nav li {
    float: left;
}
i.fa-key {
    color: white;
    font-size: 26px;
}
nav #login-trigger {
    display: inline-block;
    zoom: 1;
    padding: 10px;
}
#signup {
    display: inline-block;
    margin-top: 10px;
    color: white;
}
nav #login-content,
#login-content2 {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 999;
    background: #3498db;
    padding: 15px;
}
nav li #login-content,
#login-content2 {
    right: 46px;
    width: 250px;
}
/*--------------------*/

fieldset {
    border: none;
    text-align: center;
}
.inputs input {
    background: white;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 90%;
    border: 1px solid transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.inputs input:focus {
    background-color: #fff;
    border-color: #2980b9;
    outline: none;
}
/*--------------------*/

#login .actions {
    margin: 10px 0 0 0;
    font: 14px Roboto, Arial;
}
#login .submit {
    background: #2980b9;
    border: none;
    float: left;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    color: #fff;
}
#login .submit:hover,
#login .submit:focus {
    background-color: #1476b7;
}
#login .submit:active {
    outline: none;
}
#login .submit::-moz-focus-inner {
    border: none;
}
#login label {
    float: right;
    line-height: 30px;
    color: white;
}
#login label input {
    position: relative;
    top: 2px;
    right: 2px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}